@import "../../../../root/fonts/Poppins-Regular.ttf";

@font-face {
    font-family: 'Poppins';
    src: url("../../../../root/fonts/Poppins-Regular.ttf") format('truetype');
}

*{
    font-family: 'Poppins', sans-serif ;
}

p,td,th,span{
    font-size: 14px !important;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.floating-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 70px;
    right: 0;
}

.floating-menu.show {
    display: flex;
}
